.big-button{
    width: 100%;
    background-color: $color-highlight;
    border: 0;
    border-bottom: 0.6rem solid darken($color-highlight, 10%);
    color: white;
    font-weight: bold;
    font-size: $space-2;
    margin-bottom: $space-0;
    padding: $space-1;

    @media screen and (min-width: $bp-1){
        margin-bottom: $space-2;
    }
    
}

.big-button:disabled{
    opacity: 0.5;
}



.button{
    background-color: $color-highlight;
    border: 0;
    border-bottom: .3rem solid darken($color-highlight, 10%);
    color: white;
    padding: $space-0;
}

.button--link{
    background: none;
    border: none;
    color: $off-white;
}