.header{
    background-color: $off-black;
    color: white;
    margin-bottom: 4.8rem;
    padding: $space-1;
}

// BEM modifier
.header__title{
    font-size: $space-2;
    margin: 0;
}

.header__subtitle{
    color: $off-white;
    font-size: $space-1;
    font-weight: 500;
    margin: 0;
}

