.header{
    margin-top: $space-0;
    margin-left: $space-0;
    margin-bottom: $space-0;
}

.header__headline{
    font-size: $font-size-4;
    margin: 0;
    margin-bottom: $space-0;
}

.header__navbar{
    display: flex;
    flex-direction: row;
}

.header__linkbox{
    margin-right: $space-0;
}

.header__navlink{
    text-decoration: none;
    color: black;

    &:hover{
        border-bottom: 1px solid $color-2;
    }

}

.header__navlink--active{
    border-bottom: 1px solid $color-2;
}