.header{
    background-color: $off-black;
    color: white;
    padding: $space-1;
    margin-bottom: $space-0;
}

@media screen and (min-width: $bp-1){
    .header{
        margin-bottom: $space-2;
    }
}

// BEM modifier
.header__title{
    font-size: $space-2;
    margin: 0;
}

.header__subtitle{
    color: $off-white;
    font-size: $space-1;
    font-weight: 500;
    margin: 0;
}

