.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal > .ReactModal__Overlay{
    transition: opacity 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ReactModalPortal > .ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModalPortal > .ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal{
    background: $light-blue;
    padding: $space-3;
    color: white;
    max-width: 30rem;
    outline: none;
    text-align: center;
}

.modal__title{
    margin-bottom: $space-1;
}

.modal__body{
    margin-bottom: $space-2;
    word-break: break-all;
}